svg {
    font: 10px sans-serif;
}

.axisSPLOTM,
.frameSPLOTM {
    shape-rendering: crispEdges;
}

.axisSPLOTM line {
    stroke: #ddd;
}

.axisSPLOTM path {
    display: none;
}

.cellSPLOTM text {
    font-weight: bold;
    text-transform: capitalize;
}

.frameSPLOTM {
    fill: none;
    stroke: #aaa;
}

circle {
    fill-opacity: .7;
}

circle.hiddenSPLOTM {
    fill: #ccc !important;
}

.extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
}

.axisLPLOT path,
.axisLPLOT line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
    
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.backgroundPCP path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
  }
  
.foregroundPCP path {
    fill: none;
    stroke: steelblue;
  }
  
.brushPCP .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
  }
  
.axisPCP line,
.axisPCP path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
.axisPCP text {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    cursor: move;
  }

  .legendTitle {
    text-anchor: middle;
    font-size: 2.2rem;
    fill: #4F4F4F;
    font-weight: 300;
  }

  .legendAxis path,
  .legendAxis tick,
  .legendAxis line {
    stroke: #000;
    stroke-width: 1;
    fill: none;
  }