/* .var-table {
    border: 1px solid #888;
} */

.var-table table {
    border-collapse: collapse;
}



.var-table tr, .var-table th {
    border-bottom: 1px solid #ccc;
}

.var-table table tr td:last-child,
.var-table table tr th:last-child {
    border-right: 0;
}

.var-table tr:hover {
    background-color: #ffa;
}

#valueText {
    display: block;
    position: absolute;
    background-color:rgba(230, 242, 255, 0.5);
    height: 16px;

}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
 }