.panel {
    position: absolute;
}

.panel-heading:hover {
    cursor: move;
}

.panel-heading .btn-group {
    float: right;
}

.panel-heading .btn-group .dropdown-menu {
    cursor: auto;
    float: right;
}

#windows-system .panel-body{
    height: 100%;
    padding: 0;
}

.container {
    display: inline-block;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}

.container .svg-content-responsive {
    position: absolute;
    top: 10px;
    left: 0;
}

.panel-heading .btn
{
    float: right;
}

.fa-window-maximize{
    background: white;
    border-radius: 40%;
    height: 0.9em;
    position: absolute;
    clip: rect(2px,30px,26px,0px);
}

.fa-window-maximize:hover
{
    cursor: move;
}

i{
    position: absolute;
}

a{
    cursor: pointer;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.panel-heading .dropdown-menu>li{
    padding: 3px 20px;
}

.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    box-shadow: -3px 3px 15px #888888;
    text-align: center;
    z-index: 99;
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

.toolTipCluster{
    z-index: 98;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   relative;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 );
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
.panel.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
.panel.loading .modal {
    display: block;
}